.save-button {
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  left: 71%;
  width: fit-content;
}

.twitter-button {
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  left: 75%;
  width: fit-content;
}