.challenge {
  padding: 20px;

  .right-column {
    position: relative;

    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .keepsake {
        width: 75px;
        height: 75px;
      }
    }
  }
}