.cards-saved-challenges {
  margin-bottom: 20px;

  .saved-challenge {
    cursor: pointer;
  }

  .card {
    max-width: 24rem;
  }

  .actions {
    font-size: 1.3em;

    .bi {
      padding: 0 5px;
    }
  }
}
